<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More information</title>
</head>
<body>
    <h2>More Information for YOU!</h2>
    <% for (var cat in detail) { %>
        <h3>Detail: <%= detail[cat].detail %></h3>
    <% } %>    
</body>
</html>