<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<body>
    <% for (var car in cars) {%>
        <img src= '<%= cars[car].source %>'>
        <% }
    %>
</body>
</html>