<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <div id="container">
        <h1>Submitted Information</h1>
        <p>Name: <%= data.name %></p>
        <p>Dojo Location: <%= data.dojoLocation %></p>
        <p>Favorite Language: <%= data.favoriteLanguage %></p>
        <p>Comments: <%= data.comments %></p>
    </div>
</body>
</html>