<% layout( 'base' ) -%>

<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <% if (quotes) { %>
            <h1><%= title %></h1>
            <% for ( let quote of quotes ) { %>
            <p>"<%= quote.quote %>"</p>
            <p>-<%= quote.name %> at <%= quote.date %></p>
            <% } %>
        <% } %>
    </div>
    <div class="col"></div>
</div>s